<header>
    <nav class="">
        
        <input 
            type="checkbox" 
            id="checkbox" 
        >
        <label 
            for="checkbox" 
            style="float: right;"
        >
            <i class="fas fa-hamburger" id="bt"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        
        <a href="#logo" class="logo">DistribuidorasPoint</a>
        <ul>
            <li><a href="#exemple" >Cadastrar</a></li>
            <li><a href="#exemple"> Atualizar</a></li>
            <li><a href="#exemple">Exemplo</a></li>
        </ul>
        
    </nav>
  </header>

<app-distribuidora></app-distribuidora>