
<div class="container-table">
    <div class="table-content">
        <h1 class="heading">Distribuidoras Gera</h1>
        
        <button 
            type="button"
            class="btn btn-outline-success mt-3" 
            (click)="openCadastrar(contentCadastrar)"
            >
            Cadastrar Distribuidora
        </button>
        
        <table class="tableDist mt-3">
            <thead>
                <tr>
                    <th></th>
                    <th>Distribuidora</th>
                    <th>Endereço</th>
                    <th>Nome</th>
                    <th>Número</th>
                    <th>Fatura</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let distribuidora of distribuidoras">
                    <td data-label="#">{{distribuidora.id}}</td>
                    <td data-label="Distribuidora"> {{distribuidora.distribuidora}}</td>
                    <td data-label="Endereco">{{distribuidora.endereco}}</td>
                    <td data-label="Nome"> {{distribuidora.nome}}</td>
                    <td data-label="Número"> {{distribuidora.numero}}</td>
                    <td data-label="Faturas">
                        <a class="btn fatura_open" (click)="openDiv()">Ver Fatura</a> <!--(click)-=> vai aparecer as faturas {{distribuidora.faturas}}-->
                        <div *ngIf="showDiv">{{distribuidora.faturas}}</div>
                    </td>
                    <td data-label="" class="lastContent" style="border-bottom: 3px solid #f1f1f1;;">
                        <div class="crud">
                            <button 
                                class="btn btnAtualizar" 
                                (click)="openAtualizar(contentAtualizar); onEdit(distribuidora)"
                                >
                                Atualizar
                            </button>

                            <button 
                                class="btn btnRemover" 
                                (click)="remover(distribuidora.id)"
                                >
                                Remover
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- MODAL CADASTRAR -->
    <ng-template #contentCadastrar let-modal>

        <div class="modal-header">
            <h4 
                class="modal-title" 
                id="modal-basic-title"
                >
                Cadastrar Distribuidora
            </h4>
            <button 
                type="button" 
                class=" btn btn-outline-danger close" 
                aria-label="Close" 
                (click)="modal.dismiss('Cross click')"
                >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
                <label 
                    for="inputDistribuidora" 
                    class="form-label"
                    >
                    Distribuidora
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="inputDistribuidora"
                    formControlName="distribuidora"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="inputEndereco" 
                    class="form-label"
                    >
                    Endereço
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="inputEndereco"
                    formControlName="endereco"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="inputNome" 
                    class="form-label"
                    >
                    Nome
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="inputNome"
                    formControlName="nome"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="inputNumero" 
                    class="form-label"
                    >
                    Número
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="inputNumero"
                    formControlName="numero"
                >
            </div>

          </form>

        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="modal.close()">
                Voltar
            </button>
          <button 
            type="button" 
            class="btn btn-success" 
            (click)="modal.close('Save click') ; postDistribuidoraForm()"  
            >
            Cadastrar
        </button>
        </div>
    </ng-template>

    <!-- XXXXX MODAL CADASTRAR XXXX-->


    <!-- ===== MODAL ATUALIZAR ======= -->
    <ng-template #contentAtualizar let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Atualizar Distribuidora</h4>
          <button type="button" class=" btn btn-outline-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
                <label 
                    for="editDistribuidora" 
                    class="form-label"
                    >
                    Distribuidora
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editDistribuidora"
                    formControlName="distribuidora"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="editEndereco" 
                    class="form-label"
                    >
                    Endereço
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editEndereco"
                    formControlName="endereco"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="editNome" 
                    class="form-label"
                    >
                    Nome
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editNome"
                    formControlName="nome"
                >
            </div>

            <div class="mb-3">
                <label 
                    for="editNumero" 
                    class="form-label"
                    >
                    Número
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="editNumero"
                    formControlName="numero"
                >
            </div>

          </form>

        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                (click)="modal.close()">
                Voltar
            </button>
            <button 
                type="button" 
                class="btn btn-outline-success" 
                (click)="modal.close(); atualizar(distribuidora.id); updateDistribuidoraFrom()"  
                >
                Atualizar
            </button>
        </div>
    </ng-template>

      <!-- XXXXX MODAL ATUALIZAR XXXX-->
      
      
      

</div>
