

<div class="container-table">
    <div class="table-container">
        <h1 class="title">Distribuidoras Gera</h1>
        <h2 class="cadastro">Cadastrar Distribuidora</h2>
        <form>
            <p>
                Distribuidora: 
                <input 
                type="text" 
                name="distribuidora" 
                [(ngModel)]="distribuidora.distribuidora"
                required
                >
            </p>
            <p>
                Endereço: 
                <input 
                type="text" 
                name="endereco" 
                [(ngModel)]="distribuidora.endereco"
                required
                >
            </p>
            <p>
                Nome: 
                <input 
                type="text" 
                name="nome" 
                [(ngModel)]="distribuidora.nome"
                required
                >
            </p>
            <p>
                Número: 
                <input 
                type="text" 
                name="numero" 
                [(ngModel)]="distribuidora.numero"
                required
                >
            </p>
            <button type="button" (click)="openCadastrar(contentCadastrar)">Cadastrar</button>
        </form>
        
        <table class="tableDist">
            <thead>
                <tr>
                    <th></th>
                    <th>Distribuidora</th>
                    <th>Endereço</th>
                    <th>Nome</th>
                    <th>Número</th>
                    <th>Fatura</th>
                    <th>-</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let distribuidora of distribuidoras">
                    <td data-label="id">{{distribuidora.id}}</td>
                    <td data-label="distribuidora"> {{distribuidora.distribuidora}}</td>
                    <td data-label="endereco">{{distribuidora.endereco}}</td>
                    <td data-label="nome"> {{distribuidora.nome}}</td>
                    <td data-label="nome"> {{distribuidora.numero}}</td>
                    <td data-label="faturas">
                        <a href="#" class="btn">Ver Fatura</a> <!--(click)-=> vai aparecer as faturas {{distribuidora.faturas}}-->
                    </td>
                    <td data-label="#">
                        <div class="crud">
                            <button 
                                class="btn btn-info" 
                                (click)="openAtualizar(contentAtualizar)"
                                >
                                Atualizar
                            </button>

                            <button 
                                class="btn btn-light" 
                                (click)="remover(distribuidora.id)"
                                >
                                Remover
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- MODAL CADASTRAR -->
    <ng-template #contentCadastrar let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Cadastrar Distribuidora</h4>
          <button type="button" class=" btn btn-outline-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label 
                    for="exampleInputEmail1" 
                    class="form-label"
                    >
                    Distribuidora
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleInputEmail1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Endereço
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Nome
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Número
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

          </form>

        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-outline-success" 
            (click)="modal.close('Save click') ; cadastrar()"  
            >
            Atualizar
        </button>
        </div>
    </ng-template>

    <!-- XXXXX MODAL CADASTRAR XXXX-->


    <!-- ===== MODAL ATUALIZAR ======= -->
    <ng-template #contentAtualizar let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Atualizar Distribuidora</h4>
          <button type="button" class=" btn btn-outline-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label 
                    for="exampleInputEmail1" 
                    class="form-label"
                    >
                    Distribuidora
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleInputEmail1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Endereço
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Nome
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

              <div class="mb-3">
                <label 
                    for="exampleInputPassword1" 
                    class="form-label"
                    >
                    Número
                </label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1"
                    >
              </div>

          </form>

        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-outline-success" 
            (click)="modal.close('Save click') ; atualizar(distribuidora.id)"  
            >
            Atualizar
        </button>
        </div>
      </ng-template>


      
      
      

</div>
